.editor {
  padding: 3rem 0;
  text-align: center;
  &__heading {
    @extend .auth__heading;
  }
  &__server-error {
    color: $red-color;
  }
  &__form-label {
    @extend .auth__form-label;
  }
  &__form {
    @extend .auth__form;
    max-width: 40rem;
    label,
    span {
      text-align: left;
    }
  }
  &__form-group {
    margin: 0.35rem 0;
  }
  &__form-control {
    @extend .auth__form-control;
    display: block;
  }
  &__form-control:focus {
    @extend .auth__form-control:focus;
  }
  &__error-msg {
    @extend .auth__error-msg;
  }
  &__tag-list {
    // padding-top: 0.6rem;
    text-align: left;
  }
  &__tag-default {
    border-radius: 1px;
    border: 1px solid $black-color;
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 0;
    strong {
      padding: 0.6rem;
      font-weight: 500;
    }
  }
  &__close-round {
    background: $black-color;
    padding: 0.23rem 0.4rem;
    color: $white-color;
    border-radius: 1px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  .auth__error {
    border-color: $red-color;
    box-shadow: none;
  }
  .btn-large {
    margin-top: 1rem;
  }
  .drop-down-text {
    font-weight: 700;
  }
  .image-preview-div {
    position: relative;
  }
  .image-preview {
    display: block;
    width: 100%;
    max-height: 25rem;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
    border: 1px solid #bbb;
    background: $white-color;
  }
  .image-preview-cancel {
    padding: 0.4rem;
    display: grid;
    place-items: center;
    background: rgba($black-color, 0.9);
    border-radius: 4px;
    position: absolute;
    color: $white-color;
    font-size: 1rem;
    font-weight: 900;
    top: 1rem;
    left: 3rem;
    transform: translateX(-50%);
    box-shadow: 0 0 20px $black-color;
    cursor: pointer;
  }
  .image-preview-cancel:hover {
    background: rgba($black-color, 0.8);
  }
  .file-label {
    padding: 1rem;
    width: 100%;
    border: 1px dashed $black-color;
    font-size: 1.5rem;
    text-align: center;
    background: $white-color;
  }
  hr {
    border: none;
    border-bottom: 1px solid #bbb;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  #image {
    display: none;
  }
}
