.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  overflow-y: scroll;
  transition: opacity 0.2s ease;

  &__close-button {
    background: rgba(0, 0, 0, 0.8);
    overflow-y: hidden;
    display: flex;

    .close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1.2rem 0.8rem;
      margin-left: auto;
      margin-right: 0.5rem;
      background-color: transparent;
      outline: none;
      border: none;
      color: #dbdbde;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  &__modal-container {
    padding: 64px 120px;
    // max-width: 1172px;
    // width: 100%;
  }
  &__modal-content-container {
    max-width: 1172px;
    width: 100%;
    margin: 0 auto;
  }
}

.modal__user,
.modal__portfolio,
.description-container,
.feedback-section {
  max-width: 768px;
  width: 100%;
  margin: 2.8rem auto;
}

.modal__portfolio {
  width: 800px;
  min-height: 600px;
  overflow: hidden;

  .portfolio-preview {
    width: 818px;
    min-height: 618px;
    // border-radius: 8px;
    // width: 100%;
    // overflow: hidden;
    // position: absolute;
    // height: 100vh;
    // display: block;
    // width: 100%;
    // max-height: 25rem;
    // border-radius: 10px;
    // object-fit: contain;
    // object-position: center;
    // border: 1px solid #bbb;
  }

  .portfolio-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.portfolio-item {
  border: 1px solid #eee;
}

.portfolio-item-link {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  background: no-repeat 50% 0% / cover #aaaaaa;
  border-bottom: 1px solid #eee;
  transition: 3s ease;
  border-radius: 8px;
}

.portfolio-item-link:hover {
  background-position: 50% 100%;
  transition: 5s ease;
}

.user-info {
  &__container {
    display: flex;
    align-items: center;
  }

  &__header-details {
    .portfolio-title {
      font-size: 1rem;
      line-height: 2rem;
    }
    .user-link,
    .user-follow {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      color: #0d0c22;
      text-decoration: underline;
    }

    .user-follow {
      text-decoration: none;
      margin-left: 0.5rem;

      &:hover {
        color: #ea4c89;
      }
    }
  }

  &__header-actions {
    padding-top: 0.4rem;
  }
}

.user-avatar {
  margin-right: 1rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.description-container {
  margin-top: 4rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  color: #3d3d4e;

  p:not(:first-child) {
    margin-top: 1rem;

    a {
      color: #ea4c89;

      &:hover {
        color: #f082ac;
      }
    }
  }
}

.user-details-section {
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}

.user-avatar-line {
  border: 1px solid #e7e7e9;
  width: 100%;
}

.photo {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 0 24px;
}

.more-by-heading {
  h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-right: 1rem;
  }
}

.more-by-user-section {
  margin-top: 3rem;
}
