.profile-setting {
  width: 825px;
  margin: 0 auto;
  padding-top: 4rem;
  margin-bottom: 5rem;
  .error {
    color: $red-color;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .error.server {
    font-size: 1rem;
  }
  .avatar-updated {
    color: $green-color;
    margin-top: 0.5rem;
  }

  .user-profile-header {
    margin-bottom: 3rem;
    h1 {
      font-size: 20px;
      font-weight: 700;
      line-height: 29px;
    }
  }

  .secondary {
    border-bottom: 1px solid #999;
    // width: 75%;
    h4 {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    .account-settings {
      li {
        padding: 0.3rem 0.8rem;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        &:hover {
          opacity: 0.7;
        }
        &.active {
          border-color: $secondary-color;
        }
      }
    }
  }
}

.main {
  margin-top: 1rem;
  align-items: flex-start;
  .upload-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .avatar-preview {
    margin-left: 3rem;
    .user-avatar-img {
      width: 10rem;
      height: 10rem;
      margin-top: 1.4rem;
      @extend .header__avatar;
    }
    form {
      display: grid;
      place-items: center;
      position: relative;
      .camera-btn {
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        background: $white-color;
        box-shadow: 0 0 4px $black-color;
        position: absolute;
        left: calc(100% - 2rem);
        top: 50%;
        border-radius: 50%;
        cursor: pointer;
      }
      #avatar {
        display: none;
      }
      fieldset {
        .info {
          padding: 1rem 0;
          font-size: 0.85rem;
          color: #9e9ea7;
        }
      }
    }
  }
}

// .add-btn {
//   text-align: center;
//   margin-left: 2rem;
//   margin-top: 1rem;
// }
