/* ---------------------------------------------------------------
Base Styles
--------------------------------------------------------------- */
body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 32px;
  font-family: $primary-font;
}

h1,
h2,
h3 {
  font-family: $secondary-font;
  font-weight: 700;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

label,
input {
  display: block;
}

a {
  text-decoration: none;
}
