/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.container {
  max-width: 125ch;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.full-height {
  min-height: calc(100vh - 5rem);
}

.standard-btn {
  background-color: $secondary-color;
  border-radius: 0.25rem;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  color: darken($secondary-color, 50%);
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: darken($secondary-color, 10%);
    font-weight: 700;
    color: darken($secondary-color, 50%);
    // color: #ecf0f1;
  }
  &:active {
    background-color: darken($secondary-color, 10%);
    font-weight: 400;
    color: #2d2d2d;
  }
  &:disabled {
    background-color: lighten(gray, 10%);
    font-weight: 400;
    color: darken(gray, 10%);
  }
}

.active {
  background-color: black;
  font-weight: 700;
  color: darken($secondary-color, 10%);
}
