/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.container {
  max-width: 125ch;
  margin: 0 auto;
  padding: 0 2rem;
}

.full-height {
  min-height: calc(100vh - 5rem);
}

.btn {
  padding: 0.7rem 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 4px;
  color: $white-color;
  border: none;
  background: $secondary-color;
  cursor: pointer;
}

.btn:hover {
  background: rgba($secondary-color, 0.9);
}

.btn-large {
  @extend .btn;
  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;
}
