/* ---------------------------------------------------------------
Modular Classes
--------------------------------------------------------------- */
.flex {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.container {
  max-width: 125ch;
  margin: 0 auto;
  padding: 0 2rem;
}

.full-height {
  min-height: calc(100vh - 5rem);
}

button {
  border: none;
  outline: none;
  display: inline-block;
}

.standard-btn {
  background-color: $secondary-color;
  border-radius: 0.25rem;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: $white-color;
  margin: 0 0.2rem;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: darken($secondary-color, 10%);
    // font-weight: 700;
    color: $white-color;
    // color: #ecf0f1;
  }
  &.active {
    background-color: black;
    font-weight: 700;
    color: $white-color;
  }
  &:active {
    background-color: darken($secondary-color, 10%);
    font-weight: 400;
    color: #2d2d2d;
  }
  &:disabled {
    background-color: lighten(gray, 10%);
    font-weight: 400;
    color: darken(gray, 10%);
  }
}

.standard-btn:hover {
  background: rgba($secondary-color, 0.9);
}

.btn-large {
  @extend .standard-btn;
  padding: 0.7rem 1.2rem;
  font-size: 1.3rem;
}

.btn {
  background: rgba(darken($primary-color, 50%), 0.2);
  color: #0d0c22;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 8px;
  padding: 0.5rem 0.8rem;
  margin-right: 0.6rem;

  &:hover {
    background-color: rgba(darken($primary-color, 50%), 0.3);
  }
}

.hero-btn {
  padding: 0.6rem 1rem;
  font-size: 1.4rem;
}

.api-fetch-error {
  font-size: 1.2rem;
  padding: 4rem 0;
  text-align: center;
}

.no-comments {
  margin-left: 5rem;
  font-size: 1rem;
}

.favorite {
  fill: $red-color;
}
