/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

/* Colors Begin */

/* Colors End */

/* Font Values Begin */
$primary-font: "Roboto";
$secondary-font: "Roboto";
/* Font Values End */

/* Media Queries Begin */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-display: 992px;
/* Media Queries End */
