/* ---------------------------------------------------------------
Variables
--------------------------------------------------------------- */

/* Colors Begin */
$white-color: #ffffff;
$primary-color: #f6fafb;
$secondary-color: #f14668;
$tertiary-color: #e8f8fc;
$green-color: #0ead69;
$blue-color: #48acf0;
$red-color: #c33c54;
$black-color: #191516;
/* Colors End */

/* Font Values Begin */
$primary-font: "Lato", sans-serif;
$secondary-font: "Merriweather", serif;
/* Font Values End */

/* Media Queries Begin */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-display: 992px;
/* Media Queries End */
