.portfolio-card {
  border-bottom: 1px solid rgba($black-color, 0.3);
  &:hover {
    background: rgba($black-color, 0.03);
  }
  &__meta-bottom,
  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  &__meta-bottom {
    background: $primary-color;
  }
  &__profile {
    display: flex;
    align-items: center;
    img {
      @extend .header__avatar;
      width: 3rem;
      height: 3rem;
    }
    h6 {
      font-size: 1rem;
      color: $black-color;
    }
    p {
      font-size: 0.8rem;
      color: rgba($black-color, 0.7);
    }
  }
  &__btn-fv {
    border-radius: 2px;
    background: $white-color;
    border: 1px solid $secondary-color;
    padding: 0.3rem;
    cursor: pointer;
  }
  &__btn-fv.active {
    background: rgba($secondary-color, 0.6);
  }
  &__btn-fv:hover {
    background: rgba($secondary-color, 0.4);
  }
  &__type {
    font-size: 1rem;
    color: rgba($black-color, 0.8);
    padding-bottom: 0.2rem;
  }
  &__avail {
    font-size: 0.8rem;
    color: rgba($black-color, 0.7);
  }
  &__avail-sign {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 0.5rem;
    background: $red-color;
    border-radius: 50%;
  }
  &__avail-sign.active {
    background: $green-color;
  }
  &__preview {
    width: 100%;
    overflow: hidden;
    display: block;
    height: 30rem;
    object-fit: cover;
    object-position: center;
  }
}
