.footer {
  padding: 1rem 0;
  text-align: center;
  box-shadow: 0 0px 1px rgba($black-color, 0.7);
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__small {
    padding: 0.5rem 0;
  }
  &__links {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
