.profile-wrapper {
  padding: 6rem 4rem 3rem 5rem;

  .avatar {
    .profile-avatar {
      @extend .header__avatar;
      width: 100%;
      height: 100%;
    }
  }

  .profile-content {
    margin-left: 2.5rem;

    .profile-name {
      font-size: 2rem;
      font-weight: 700;
      line-height: 38px;
      margin-top: 0.3rem;
      color: $black-color;
    }

    .profile-locality,
    .profile-specializations {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      // margin-bottom: 0.5rem;
    }

    .profile-specializations {
      color: #9e9ea7;
    }
  }

  .profile-actions {
    margin-top: 1.8rem;
  }
}

.subnav-container {
  padding: 0 4.5rem;
}

.subnav {
  border-bottom: 1px solid darken($white-color, 5%);
  padding: 1rem 0;

  ul {
    .subnav-list-item {
      margin-right: 2rem;

      a {
        color: #6e6d7a;
        font-size: 1.2rem;
        font-weight: 600;

        &:hover {
          color: #333;
        }
      }
    }
  }
}

.wrap-inner {
  .about-content {
    padding: 1rem 0;
    border-top: 1px solid darken($white-color, 5%);
    align-items: flex-start;
    .about-content-main {
      flex-grow: 1;
      margin-right: 3rem;
      .thumbnail-label {
        text-align: center;
      }
      .profile-status {
        border-top: 2px solid darken($white-color, 5%);
        padding-top: 1.8rem;

        span {
          margin-right: 1.5rem;
          color: #6e6d7a;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5rem;
        }
      }
    }

    .about-content-sidebar {
      flex: 0 0 348px;

      .profile-info-section {
        padding: 24px;
        background-color: darken($white-color, 2%);
        border-radius: 8px;

        .info-item {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          color: #3d3d4e;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2rem;
        }
      }

      .profile-social-section {
        ul {
          li {
            margin-bottom: 0.8rem;
            a {
              display: inline-flex;
              align-items: center;
              color: #0d0c22;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2rem;
            }
          }
        }
      }
    }
  }
}

.content-section {
  margin-bottom: 2.8rem;

  .section-label {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4rem;
    color: #0d0c22;
    margin-bottom: 1rem;
  }

  .skill-btn {
    padding: 0.3rem 0.5rem;
    border-radius: 2px;
    font-size: 0.8rem;
    background: rgba($black-color, 0.7);
    color: $white-color;
  }

  ul {
    li {
      margin-right: 0.6rem;
    }
  }
}

.empty {
  color: $red-color;
}

// ========= icons=======

.follow-icon {
  fill: currentColor;
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}

.mail-icon {
  fill: currentColor;
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}

.sidebar-icon {
  fill: currentColor;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 5px;
}

.social-icon {
  fill: currentColor;
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 9px;
  &:hover {
    opacity: 0.7;
  }
}

.fav-icon {
  fill: currentColor;
  height: 1rem;
  width: 1rem;
  margin-right: 5px;
}
