@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.donut {
  display: inline-block;
  border: 4px solid rgba($black-color, 0.5);
  border-left-color: rgba($black-color, 0.8);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: donut-spin 1.2s linear infinite;
}
