.thumbnails-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));
  grid-gap: 40px;
  margin: 1.5rem 0;

  .thumbnails-list-items {
    box-shadow: 0px 1px 6px rgb(201, 200, 200);
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #e7e7e9;
    }
    .thumbnails {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
    .thumbnail-portfolio-title {
      padding: 0.5rem 0.8rem;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }
  }
}
