.auth {
  padding: 3rem 0;
  text-align: center;
  &__heading {
    font-size: 3rem;
    margin: 0.3rem 0;
  }
  &__link {
    font-size: 1.1rem;
    a {
      color: $blue-color;
    }
  }
  &__server-error {
    color: $red-color;
  }
  &__form {
    max-width: 30rem;
    margin: 1rem auto;
    background: $tertiary-color;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    label,
    span {
      text-align: left;
    }
  }
  &__form-group {
    margin: 0.35rem 0;
  }
  &__form-label {
    margin-bottom: 0.2rem;
    font-weight: 700;
  }
  &__form-control {
    padding: 0.6rem 0.8rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
  }
  &__form-control:focus {
    border-color: $blue-color;
    outline: 0;
    box-shadow: 0 0 0 3px rgba($blue-color, 0.3);
  }
  .auth__error {
    border-color: $red-color;
    box-shadow: none;
  }
  &__error-msg {
    font-size: 0.8rem;
    line-height: 1;
    font-weight: 500;
    color: $red-color;
    display: block;
  }
  .btn-large {
    margin-top: 1rem;
  }
}
