.portfolio-card {
  // border: 3px solid salmon;
  display: inline-block;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 1rem;
  &__image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
  }
}
