/* ---------------------------------------------------------------
Import font-families
--------------------------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Merriweather:wght@300;400;700;900&display=swap");

/* ---------------------------------------------------------------
Import partials (Start using @use now)
--------------------------------------------------------------- */

@import "base/reset";
@import "base/variables";
@import "base/base-styles";
@import "base/modular";
@import "partials/spinner";
@import "partials/header";
@import "partials/footer";
@import "components/card";
@import "components/dashboard";
@import "components/auth";
@import "components/modal";

/* ---------------------------------------------------------------
Project Specific Styles
--------------------------------------------------------------- */
